@font-face {
  font-family: 'Arsilon';
  src: url("../public/fonts/SVN-Arsilon.otf");
}

.relative {
  position: relative;
  max-width: 1920px;
  height: 600px;
  margin-bottom: 2.5rem;

  .welcome {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: "Arsilon", cursive;
    font-size: 5rem;
    text-align: center;
  }

  .countdown {
    position: absolute;
    left: 50%;
    bottom: -1.5rem;
    transform: translateX(-50%);
    text-transform: uppercase;

    .cd_title {
      margin-bottom: 0.75rem;
      color: #fff;
      font-size: 1.5rem;
      font-weight: 700;
      letter-spacing: 2.5px;
      word-spacing: 4px;
      text-align: center;
    }

    .cd_content {
      display: flex;
      justify-content: center;

      .day {
        margin-right: 0.5rem;
      }

      .hour {
        margin-right: 0.25rem;
      }

      .minute {
        margin-left: 0.25rem;
      }

      .second {
        margin-left: 0.5rem;
      }

      .cd_group_box {
        display: flex;

        .cd_box {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 50px;
          height: 60px;
          margin: 0.5rem 2.5px 0;
          border-radius: 5px;
          background-color: #fff;
          color: #b50102;
          font-size: 2rem;
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
        }
      }

      .cd_label {
        color: #fff;
        font-size: 0.85rem;
        font-weight: 600;
        letter-spacing: 2.5px;
        text-align: center;
        text-transform: uppercase;
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .relative {
    .welcome {
      font-size: 12vw;
    }
  }
}

@media screen and (max-width: 540px) {
  .relative {
    height: 450px;

    .welcome {
      top: 40%;
    }

    .countdown {
      bottom: -1rem;

      .cd_title {
        font-size: 1.25rem;
      }

      .cd_content {
        .cd_group_box {
          .cd_box {
            width: 32.5px;
            height: 45px;
            font-size: 1.5rem;
          }
        }

        .cd_label {
          font-size: 0.75rem;
        }
      }
    }
  }
}