.in_quiz {
  z-index: 1000;
  width: 100%;
  height: 100vh;

  .quiz_meta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    margin: 1rem auto;
    border-radius: 10px;
    padding: 0.5rem 0.75rem;
    background-color: #fff;
    opacity: 0.95;
    color: #780000;
    letter-spacing: 1px;
    font-size: 0.9rem;

    .name {
      text-align: center;
      text-transform: uppercase;
      font-weight: 500;
    }

    .hr {
      display: none;
    }

    .detail {
      display: flex;
      justify-content: flex-end;

      .score,
      .remained_time {
        display: flex;
        justify-content: space-between;

        .label {
          margin-right: 0.5rem;
        }

        .value {
          font-weight: 600;
        }
      }

      .score {
        margin-right: 2rem;
      }
    }
  }

  .quiz_main {
    width: 95%;
    margin: 0 auto;
    padding: 0.75rem 1rem;

    .question_container {
      position: relative;
      margin-bottom: 2rem;
      border-radius: 5px;
      padding: 1rem 1.5rem 0.75rem;
      background-color: #fcecae;
      box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.25);

      .question_ornament {
        position: absolute;
        width: 1.25rem;
        min-height: 1.3rem;
        top: 0;
        right: 0.25rem;
        background-image: url("../public/svg/pin.svg");
        background-size: 100%;
        opacity: 0.9;
      }
    }

    .options {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-gap: 1rem;
      list-style-type: upper-latin;
      list-style-position: inside;

      .each_option {
        border-radius: 5px;
        padding: 0.5rem 0.75rem;
        background-color: #fcecae;
        box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.25);
        cursor: pointer;

        @media (hover: hover) {
          &:hover {
            transform: scale(1.1);
            transition-duration: 500ms;
          }
        }
      }
    }
  }

  .quiz_conclusion {
    border-radius: 10px;
    padding: 1.5rem 2rem;
    background-color: #fff;
    box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.25);
    opacity: 0.95;
    color: #61372c;
    letter-spacing: 1px;

    .conclusion_title {
      text-align: center;
      font-size: 1.25rem;
      font-weight: 500;
    }

    .hr {
      height: 1.5px;
      margin: 0.5rem 0 0.75rem;
      border-style: none;
      background-color: #61372c;
    }

    .conclusion_name {
      margin-bottom: 0.75rem;
      color: #b50102;
      font-size: 1.5rem;
      font-weight: 500;
      text-align: center;
    }

    .conclusion_total_time {
      display: flex;
      justify-content: space-between;
      margin-bottom: 0.25rem;
    }

    .conclusion_num_corrects {
      .num_corrects_total {
        display: flex;
        justify-content: space-between;
      }

      .list_corrects {
        margin: 0.25rem 0 0 0.75rem;
        list-style-type: none;
        font-size: 0.9rem;

        .correct {
          margin-right: 1rem;
        }
      }
    }

    .conclusion_score {
      margin-bottom: 0.25rem;
      color: #01a063;
      font-size: 2.5rem;
      font-weight: 600;
      line-height: 1;
      text-align: center;
    }

    .conclusion_comment {
      margin-bottom: 1rem;
      text-align: center;
    }

    .go_back {
      display: block;
      width: 100%;
      border-radius: 10px;
      padding: 0.5rem 0;
      background: linear-gradient(45deg, #930504 0%, #b50102 80%);
      color: #fff;
      box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.25);
      text-align: center;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}

@media screen and (max-width: 720px) {
  .in_quiz {
    .quiz_meta {
      flex-direction: column;
      width: 90%;
      margin: 1rem auto;
      float: none;

      .name {
        text-align: left;
      }

      .hr {
        display: block;
        width: 100%;
        height: 1.5px;
        margin: 0.25rem 0 0.5rem;
        border-style: none;
        background-color: #61372c;
      }
    }

    .quiz_main {
      font-size: 0.85rem;

      .options {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
      }
    }
  }
}