.game {
  padding: 0 10%;

  .game_title {
    margin-bottom: 1rem;
    font-weight: 600;

    .spin {
      animation: rotate 8s infinite;
    }
  }

  .game_list {
    display: flex;
    flex-wrap: wrap;

    .this_game {
      width: 300px;
      margin-right: 1.5rem;
      list-style-type: none;

      .game_img {
        position: relative;
        width: 100%;
        height: 300px;
        margin-bottom: 1rem;
        background-size: 100%;

        &:hover {
          transform: scale(1.1);
          transition-duration: 0.75s;

          > .game_ornament {
            animation-duration: 1s;
            animation-iteration-count: 3;
            animation-name: swing;
          }
        }

        .game_ornament {
          position: absolute;
          width: 125px;
          height: 125px;
          bottom: -1rem;
          right: -0.5rem;
          background-size: 100%;
        }
      }

      .wheel {
        background-image: url("../public/img/wheel.jpg");

        .god_of_wealth {
          background-image: url("../public/svg/god-of-wealth.svg");
        }
      }

      .quiz {
        background-image: url("../public/img/quiz.jpg");

        .girl_1 {
          background-image: url("../public/svg/girl-1.svg");
        }
      }

      .game_caption {
        margin-bottom: 0.2rem;
        font-weight: 600;
      }

      .game_description {
        margin-bottom: 0.5rem;
        font-size: 0.75rem;
      }

      .game_join {
        width: 100%;
        border-style: none;
        padding: 0.5rem 0;
        outline: none;
        background: linear-gradient(45deg, #930504 0%, #b50102 80%);
        cursor: pointer;
        color: #fff;
        font-size: 0.8rem;
        letter-spacing: 1px;

        &:hover {
          opacity: 0.75;
        }
      }
    }
  }
}

@keyframes swing {
  50% { transform: rotate(10deg); }
}

@keyframes rotate {
  0% { transform: rotate(360deg); }
  33% { transform: rotate(0deg); }
}

@media screen and (max-width: 720px) {
  .game {
    padding: 0 5%;

    .game_list {
      flex-direction: column;

      .this_game {
        width: 100%;
        margin: 0 0 2rem;

        .game_img {
          height: 90vw;

          &:hover {
            transform: none;
          }
        }
      }
    }
  }
}